/* MARK HEADER */

.navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content; 
}

.navigation-header {
    display: flex;
    gap: 10px;
}

.navigation a {
    text-decoration: none;
}

.title-header {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

/* MARK MAIN */

#main-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
} 

.review-section {
    flex-basis: 60%;
    flex-grow: 0;
}

.review-section img {
    max-width: 175%;
    max-height: 50%;
}

.message-us {
    flex-basis: 20%;
    flex-grow: 0;
    background-color: darkcyan;
    border-radius: 8px;
}

.input-message-us {
    display: flex;
    flex-direction: column;
}

button {
    margin-left: 24px;
}

@media screen and(max-width: 600px) {
    .title-header {
        background-color: red;
    }
}